<template>
  <button class="submit-button" type="submit">{{value}}</button>
</template>

<script>
export default {
  name: 'SubmitButton',
  props: ['value']
}
</script>

<style lang="scss">
  .submit-button {
      padding: .5rem 2rem;
      outline: none;
      color: #FFF;
      background: #3684C4;
      border: none;
      border-radius: 8px;
      margin-left: 30px;

  }
</style>