<template>
  <main class="book-details__container">
      <div class="book-details__info">
         <img :src="book.volumeInfo.imageLinks.thumbnail" :alt="book.volumeInfo.title" class="book-details__image" v-if="book.volumeInfo.imageLinks">
         <p v-if="book.volumeInfo.authors && book.volumeInfo.authors.length" class="book-authors"><strong>Authors:</strong> <br> 
           <span v-for="(author, index) in book.volumeInfo.authors" :key="index">{{author}} </span> <br>
        </p> <br> <br>
        <strong class="published_date" v-if="book.volumeInfo.publishedDate">Published on</strong>
        <p>{{book.volumeInfo.publishedDate | format_date}}</p>
      </div>
      <div class="book-details__about">
          <h1 v-if="book.volumeInfo.title" class="book-details__title">{{book.volumeInfo.title}}</h1>
          <strong v-if="book.volumeInfo.description">About this book</strong>
          <p v-html="book.volumeInfo.description" class="book-details__description"></p>
          <p class="book-details__publisher" v-if="book.volumeInfo.publisher"><strong>Published by:</strong> &nbsp; {{book.volumeInfo.publisher}}</p>
          <a :href="book.volumeInfo.previewLink" v-if="book.volumeInfo.previewLink" target="_blank">Read More</a>
      </div>
  </main>
</template>

<script>
export default {
  name: 'BookDetails',
  props: ['book']
}
</script>

<style lang="scss">
  .book-details{
      margin: auto 10%;

      &__title, &__publisher{
          margin-bottom: 30px;
      }

      &__description{
          margin: 10px auto;
          line-height: 2;
      }

      &__container{
          display: flex;
          margin-top: 10%;

          @media(max-width: 768px){
              display: block;
          }
      }

      &__info{
          flex-basis: 20%;

          @media(max-width: 768px){
              margin: 25px auto;
          }
      }

      &__about{
          flex-basis: 80%;
      }
  }

  .published__date{
      margin-bottom: 10px;
  }

  .book-authors{
      margin: 10px auto;
  }
</style>