<template>
  <main class="book-item">
    <div class="book-list__item--desc">
        <p class="desc--item"><strong>Title:</strong> {{item.volumeInfo.title}}</p>
        <p>
           <strong>Authors:</strong> 
            <span 
            v-for="(author, index) in item.volumeInfo.authors" 
            :key="index" class="desc--item">
            {{item.volumeInfo.authors.length-1===index && item.volumeInfo.authors.length > 1 ? " " : ""}}
            {{author}}
            {{item.volumeInfo.authors.length>1 && item.volumeInfo.authors.length -2 ===index ? " " : ""}}
            </span>
        </p>
        
        <p class="desc--item" v-if="item.volumeInfo.publisher"><strong>Published by:</strong> {{item.volumeInfo.publisher}}</p>

        <router-link :to="`/books/${item.id}`">View More</router-link>
    </div>

    <div class="book-list__item--image">
        <img :src="item.volumeInfo.imageLinks.thumbnail" :alt="item.volumeInfo.title" class="book-image" v-if="item.volumeInfo.imageLinks" />
    </div>
  </main>
</template>

<script>
export default {
  name: 'Book',
  props: ['item'],
}
</script>

<style lang="scss">
  .book-item{
      display: flex;
      justify-content: space-between;
  }
</style>