<template>
  <main class="book-list__container">
      <h1 v-if="items && fetched" class="book-list__title">List of books that match "{{q}}"</h1>
     <ul>
         <li v-for="item in items" :key="item.id" class="book-list__item">
            <book :item="item" />
         </li>
     </ul>
  </main>
</template>

<script>
import { computed } from '@vue/composition-api';
import Book from './Book';
export default {
  name: 'BookList',
  props: ['items', 'query', 'fetched'],
  components: {
      Book,
  },
  setup(ctx){
      const q = computed(()=>ctx.query.trim());

      return {
          q
      }
  }
}
</script>

<style lang="scss">
  .book-list{
      &__container{
          margin: auto 10%;

          ul{
              list-style: none;
          }

          .desc--item{
            margin-bottom: 10px;
          }

          .book-image{
              height: 100%;
          }
      }

      &__title{
          margin-bottom: 10px;
      }

      &__item{
          padding: 10px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
          border-radius: 10px;
          justify-content: space-between;

          &--desc{
              margin-left: 10%;
          }

          &--image{
              margin-right: 10%;
          }
      }
  }
</style>