<template>
  <main class="notfound">
      <div class="notfound__container">
          <h3>Oops!</h3>
          <p>The page you are looking for is not found, <router-link to="/">Return to the homepage</router-link></p>
      </div>
  </main>
</template>

<script>
export default {
  name: 'NotFound',
}
</script>

<style lang="scss">
   .notfound{
       &__container {
           height: 100vh;
           display: grid;
           place-content: center;

           h3{
               margin-bottom: 30px;
           }
       }
   }
</style>