<template>
  <main class="home__container">
      <div class="home__intro">
          <div class="home__intro--info">
              <h2 class="home__title">Welcome to our Book Store</h2>
                <form @submit.prevent="validateEmpty" class="form">
                    <vs-input
                    icon="search"
                    type="text" 
                    v-model="val"
                    placeholder="Search books"
                    class="form__input"
                    :danger="!!errors.input"
                    :danger-text="errors.input"
                    />
                    <div>
                        <submit-button value="Search"></submit-button>
                    </div>
                </form>
          </div>
         
      </div> 
     
      <loading v-if="fetching" />
      <vs-alert v-if="error" color="danger">Something went wrong</vs-alert>
      <book-list v-else :items="results" :query="val" :fetched="fetched"></book-list>
  </main>
</template>

<script>

import { reactive, computed } from '@vue/composition-api';

import getBooks from '../helpers/getBooks';
import BookList from '../components/Books/BookList.vue';
import Loading from '../components/Loading/Loading.vue';
import SubmitButton from '../components/Button/Submit.vue';
export default {
  name: 'Home',
  setup(ctx, {root: {$store: { getters }}}){

      const results = computed(()=>getters.getBooks);

      const errors = reactive({
          input: null,
      });

     const { submitted, list, error, fetching, val, fetched } = getBooks();

     const validateEmpty = ()=>{
         if(val.value!==''){
             errors.input = null;
             submitted();
         } else {
             errors.input = 'This field is required';
         }
     }

     

     return {
         submitted,
         list,
         error,
         fetching,
         val,
         validateEmpty,
         errors,
         results,
         fetched
     };
  },
  components: {
      BookList,
      Loading,
      SubmitButton,
  },
  metaInfo: {
      title: 'Welcome',
      meta: [
          {
              name: 'description',
              content: 'Online Book Store'
          },
          {
              name: 'Keywords',
              content: 'Books, Writers, Read, Store, Authors',
          }
      ],
      metaTemplate: '%s | Book Store'
  }
}
</script>

<style lang="scss">
 .form {
     display: flex;
     margin: 30px 0;

     &--input{
         margin-right: 30px;
     }
    
 }

 .home{
     margin: 30px 10%;

     &__title{
         margin-bottom: 20px;
         color: #fff;
     }

     &__intro{
         height: 50vh;
         display: grid;
         margin-bottom: 30px;
         place-content: center;
         background: url(https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500) no-repeat center/cover;

         &:before{
             z-index: 2;
             position: absolute;
             top: 0;
             left: 0;
             background: rgba(#FFF, 0.4);
             content: '';
         }
     }
 }
</style>