<template>
  <main class="singlebook">
      <router-link to="/" class="go-back"><vs-icon icon="keyboard_backspace" size="large"></vs-icon></router-link>
      <loading v-if="fetching" />
      <vs-alert v-if="!!error" color="danger">Something went wrong!</vs-alert>
      <book-details v-else :book="item"></book-details>
  </main>
</template>

<script>
import { onBeforeMount } from '@vue/composition-api';
import getSingleBook from '../helpers/getSingleBook';
import BookDetails from '../components/Books/BookDetails.vue';
import Loading from '../components/Loading/Loading.vue';
export default {
  name: 'SingleBook',
  setup(ctx, { root: { _route: { params } } }){

      const bookId = params.id;

      const { getBook, error, fetching, item } = getSingleBook({_id: bookId});

      onBeforeMount(()=>{
          getBook();
      });

      return {
         item,
         error,
         fetching
      }
  },
  components: {
      BookDetails,
      Loading,
  },
  metaInfo: {
      title: 'Book Details'
  }
}
</script>

<style lang="scss">
  .singlebook {
      margin: 20px 10%;
  }

  .go-back{
      color: #000;
  }
</style>