<template>
  <main class="loading">
      <img src="../../assets/loader.gif" alt="">
      <span>Fetching...</span>
  </main>
</template>

<script>
export default {
  name: 'Loading'
}
</script>

<style lang="scss">
  .loading {
      display: grid;
      place-content: center;
      height: 50vh;

      img{
          width: 65px;
          height: 65px;
      }

      span{
          font-weight: bold;
          font-size: 20px;
      }
  }
</style>