<template>
  <main>
    <router-view></router-view>
  </main>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  body{
    font-family: 'Roboto', sans-serif;
  }
</style>
